<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div style="background-color:lightgreen ">
    <%= render 'layouts/header' %>
    <% flash.each do |name, msg| %>
      <%= msg %>
    <% end %>
    </div>
    <center><%= yield %></center>
    <span class="glyphicons glyphicons-home"></span>
  </body>
</html>
